* {
    margin: 0;

}

body {
    background-image: linear-gradient(135deg, #FFF6B7 10%, #F6416C 100%);
    min-height: 100vh;
    font-size: 2rem;
    text-align: center;
}

.todo-form__input,
.todo-form__button {
    margin: 20px 0;
    padding: 10px 20px;
    color: #fff;
    background-color: chocolate;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 1px black;
    transition: .3s;
    cursor: text;
}

input:hover,
input:focus,
button:hover {
    background-color: brown;
}